<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="description" content="">
	<meta name="author" content="">
	<title>PMOSIMS</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Plugin CSS -->
	<link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/static/vendor/css/sb-admin.css" rel="stylesheet">
	<style>
  #profilePic {
	margin:10px;
    border-radius: 35%;
  }
  .article {
	  float: left;
	}

	.article:nth-child(odd) {
	  clear: left;
	}
</style>

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
	<a class="navbar-brand" href="../home">PMOSIMS</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
			<li>
				<div class="article-container" style="color:#ffffff; height:120px;">
					<div class="article">
						<img src="{% static profilePicture %}"  id ="profilePic" alt = "image" width="100px" height="100px"/>
					</div>
					<div class="article" style="width:118px; padding-top:20px;">
						Welcome,<br/>{{accountType}} {{curUser}}
					</div>
				</div>
			</li>

			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
				<a class="nav-link" href="../home">
					<i class="fa fa-fw fa-home"></i>
					<span class="nav-link-text">
                Home</span>
				</a>
			</li>
			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Current Crisis">
				<a class="nav-link nav-link-collapse" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
					<i class="fa fa-fw fa-list"></i>
					<span class="nav-link-text">
                Current Crisis Reports</span>
				</a>
				<ul class="sidenav-second-level collapse" id="collapseComponents">
					{% if ongoingCrisis %}
					{% for crisis in ongoingCrisis %}
					<li>
						<a href="../crisis/{{ crisis.crisis_ID }}">Crisis {{ crisis.crisis_ID }}: {{ crisis.crisis_name|truncatechars:15 }}</a>
					</li>
					{% endfor %}
					{% else %}
					<li>
						<a>No Ongoing Crisis</a>
					</li>
					{% endif %}
				</ul>
			</li>

			<li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Past Reports">
				<a class="nav-link" href="../history">
					<i class="fa fa-fw fa-history"></i>
					<span class="nav-link-text">
                Past Reports</span>
				</a>
			</li>
			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Live News Feed">
				<a class="nav-link" href="../newsfeed">
					<i class="fa fa-fw fa-feed"></i>
					<span class="nav-link-text">
                Live News Feed</span>
				</a>
			</li>
			<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Live News Feed">
				<a class="nav-link" href="#">
					<i class="fa fa-fw fa-feed"></i>
					<span class="nav-link-text">
                CMO Public Broadcast</span>
				</a>
			</li>

		</ul>
		<ul class="navbar-nav sidenav-toggler">
			<li class="nav-item">
				<a class="nav-link text-center" id="sidenavToggler">
					<i class="fa fa-fw fa-angle-left"></i>
				</a>
			</li>
		</ul>

		<!-- End of Sidebar -->

		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown" id="alertBellNotification">
				<a class="nav-link dropdown-toggle mr-lg-2" href="" id="alertsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="updateNotiCount()">
					<i class="fa fa-fw fa-bell"></i>
					<span class="d-lg-none">Alerts
						<span class="badge badge-pill badge-warning">0 New</span>
					  </span>
					<span class="new-indicator text-warning d-none d-lg-block">
						{% if object_list|length > 0 %}
                            <i class="fa fa-fw fa-circle"></i>
                            <span class="number">{{ object_list|length }}</span>
                          {% endif %}
					  </span>
				</a>
				<div class="dropdown-menu" aria-labelledby="alertsDropdown">
					<h6 class="dropdown-header">Recent Notifications:</h6>

					<!-- <div class="dropdown-divider"></div>
					 <a class="dropdown-item" href="Orchard Road.html">
					   <span class="text-success">
						 <strong>Crisis Over</strong>
					   </span>
					   <span class="small float-right text-muted">11:21 AM</span>
					   <div class="dropdown-message small">Resolved: Bombing Incident at Orchard Road</div>
					 </a>-->

					<div class="dropdown-divider"></div>
					<a class="dropdown-item small" href="">
						Last Updated: {% now "M. j, Y, h:i a" %}
					</a>
				</div>
			</li>

			<li class="nav-item" id="logoutBtn">
				<a class="nav-link" data-toggle="modal" data-target="#exampleModal">
					<i class="fa fa-fw fa-sign-out"></i>
					Logout</a>
			</li>
		</ul>
	</div>
</nav>

<div class="content-wrapper">

	<div class="container-fluid">

		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="../home">Home</a>
			</li>
			<li class="breadcrumb-item active">Past Crisis Reports</li>
		</ol>


		<!-- Example Tables Card -->
		<div class="card mb-3">
			<div class="card-header">
				<!--<i class="fa fa-tv"></i>-->
				Past Crisis Reports
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">
						<thead>
						<tr>
							<th>Crisis ID</th>
							<th>Crisis Title</th>
							<th>Crisis Start Date/Time</th>
							<th>Report ID</th>
							<th>Report Receipt</th>
							<th>Report Status</th>
						</tr>
						</thead>
						<tbody>
						{% if toDisplay %}
						{% for plan in toDisplay %}
						{% for crisis in allCrisis %}
						{% if crisis.crisis_ID == plan.plan_crisisID %}
						<tr>
							<!--<td>{{ plan.crisis_ID }}</td>-->
							<td>Crisis: {{ plan.plan_crisisID }} - Plan: {{ plan.plan_ID }}</td>
							<td><a href="/report/{{ plan.plan_ID }}">{{ crisis.crisis_name }}</a></td>
							<td>{{ crisis.crisis_datetime }}</td>
							<td>{{ plan.plan_ID }}</td>
							<td>{{ plan.plan_receipt }}</td>
							<td>{{ plan.plan_status }}</td>
						</tr>
						{% endif %}
						{% endfor %}
						{% endfor %}
						{% else %}
						<tr><td>Singapore is safe!</td></tr>
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-footer small text-muted">
				Updated: {{ updateTime }}
			</div>
		</div>

	</div>
	<!-- /.container-fluid -->

</div>
<!-- /.content-wrapper -->

<footer class="sticky-footer">
	<div class="container">
		<div class="text-center">
			<small>PMOSIMS 2017</small>
		</div>
	</div>
</footer>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fa fa-angle-up"></i>
</a>

<!-- Logout Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Select "Logout" below if you are ready to end your current session.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="../logout2">Logout</a>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/popper/popper.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/static/vendor/chart.js/Chart.min.js"></script>
<script src="/static/vendor/datatables/jquery.dataTables.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/vendor/js/sb-admin.min.js"></script>
<script type="text/javascript">
        //For Crisis Updates
        $('#alertBellNotification').load("/notificationBell");
        setInterval(function(){
            $('#alertBellNotification').load("/notificationBell");
            //console.log("HELLO");
        },10000);

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        //Passing the CSRF Token with every ajax call
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                var csrfToken = getCookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
            }
        });

        function updateNotiCount() {

            $.ajax({
                type: 'POST', //GET, POST, PUT or DELETE
                url: '/updateNotiCount/',
                data: { },
                success: function (msg) {
                  console.log("notification bell updated");
                }
            });
        }

    </script>

</body>

</html>
